.messages-main {
    flex: 3;
    display: flex;
    flex-direction: column;
    height: 100vh;
    position: relative;

}

.messages-head {
    display: flex;
    flex-direction: row;
    border-bottom: 2px solid black;
    padding: 5px;
    position: relative;
    /* background-color:rgba(7, 3, 3, 0.878); */
    /* background-color:rgba(7, 3, 3, 0.679); */
    /* background-color: rgb(46, 139, 87,0.6); */
    background-color: rgb(55, 127, 127);
    color: rgb(0, 0, 0);
    border-bottom: 2px solid rgb(178, 173, 173);
    /* height: 50px; */
}

.messages-head img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 50px;
    margin-right: 30px;
    border: 2px solid white;
}

.userinfo span {
    font-weight: 500;
    font-size: 20px;
    color: white;
}

.userinfo p {
    font-size: 14px;
    font-weight: 300;
}

.calloptions {
    position: absolute;
    right: 0px;
    font-size: 30px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding: 10px;
}

.messagesfoot {
    /* position: absolute;
    bottom: 0px;
    height: 30px;
    width: 100%; */
    border-top: 2px solid black;
    flex: 0.5;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10px;
    /* background-color:rgba(7, 3, 3, 0.679); */
    /* background-color: rgb(46, 139, 87,0.6); */
    background-color: rgb(55, 127, 127);
    position: relative;

}

.footoptions {
    margin-left: 10px;
    display: flex;
    flex-direction: row;
    font-size: 30px;
    align-items: center;
    gap: 5px;
    position: relative;
}

.textinput {
    flex: 1;
    padding-left: 10px;
    background-color: transparent;
    height: 30px;
    border-radius: 30px;
    border: 2px solid rgb(32, 25, 25);
    font-size: 20px;
    color: white;
}

.sendbut {
    font-size: 30px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: transparent;
}

.sendbut button {
    background-color: transparent;
    border: none;
    font-size: 25px;
}

.emojistext {
    position: absolute;
    bottom: 45px;
    left: -8px;
}

.messagesmid {
    flex: 5;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-top: 10px;
    padding-bottom: 7px;
    background-image: url("../../../Images/Screenshot\ 2024-07-21\ 201913.png");
    background-size: 100% 100% !important;
}

.messagesmid::-webkit-scrollbar {
    width: 8px;
}

.messagesmid::-webkit-scrollbar-track {
    background: transparent;
    border-radius: 2px;
}

.messagesmid::-webkit-scrollbar-thumb {
    background: rgba(136, 136, 136, 0.5);
    border-radius: 10px;
}

.messagesmid::-webkit-scrollbar-thumb:hover {
    background: rgba(85, 85, 85, 0.7);
}

.messagesmid::-webkit-scrollbar-button {
    display: none;
}

.frnd img {
    height: 30px;
    width: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-left: 5px;
}

.frnd {
    display: flex;
    flex-direction: row;
    width: 65%;
    gap: 5px;
}

.me {
    align-self: flex-end;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    gap: 5px;
}

.msgfrnd {
    display: flex;
    flex-direction: column;
    position: relative;
}

.msgfrnd p {
    background-color: rgb(157, 192, 222);
    border-radius: 10px;
    padding: 10px;
}

.msgfrnd span {
    font-size: 13px;
    padding: 2px;
}

.msgfrnd img {
    height: 350px;
    width: auto;
    align-self: flex-start;
    margin-bottom: 4px;
    border-radius: 10px;
}

.msgme {
    display: flex;
    flex-direction: column;
    position: relative;
}

.msgme p {
    background-color: rgb(172, 238, 175);
    border-radius: 10px;
    padding: 10px;
}

.msgme span {
    font-size: 13px;
    padding: 2px;
}

.msgme img {
    background-color: rgb(172, 238, 175);
    height: 350px;
    width: auto;
    align-self: flex-end;
    margin-bottom: 4px;
    border-radius: 10px;
}

.avatarimg {
    align-self: flex-end;
}

.send button:disabled {
    background-color: black;
    cursor: not-allowed;
}

.textinput:disabled {
    cursor: not-allowed;
}

/* .msgfrnd a{
    display:flex;
    flex-direction: column;
    position: absolute;
    right:0px;
    bottom:0px;
    border:3px solid black;
} */

.msgme a button {
    align-self: flex-end;
}

/* .downfile{
    /* align-self: flex-end !important; */


/* .msgme a{
    display:flex;
    flex-direction: column;
    position: absolute;
    right:0px;
    bottom:0px;
    /* border:3px solid rgb(0, 0, 0); */
*/ .downimgg {
    background-color: transparent;
    font-size: 35px;
    border: none;
}

.downbut button {
    border: none;
    /* background-color: transparent; */
}

.fileshow {
    font-size: 25px;
    background-color: rgb(220, 216, 216);
    padding: 20px;
    border-radius: 5px;
}

.fileshow i {
    margin-right: 20px;
}

.display {
    display: flex;
    flex-direction: column;
    /* gap:0px; */
}

.display a {
    text-decoration: none;
}

.downdiv {
    width: 100%;
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    background-color: rgb(83, 151, 149);
    font-size: 16px;
    padding: 2px;
    border: 1px solid black;
    border-radius: 10px;
    color: rgb(211, 200, 200);
    align-items: center;

}

.downbut {
    width: 100%;
}

.downdiv i {
    align-self: flex-start;
    margin-right: 10px;
}


.micbut {
    background-color: transparent;
    border: none;
    font-size: 30px;
}


.image-preview {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(33, 73, 73)
}



.media-preview {
    position: absolute;
    bottom: 60px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    /* Stack images and audio vertically */
    background-color: rgb(33, 73, 73);
    padding: 10px;
}


.audio-preview {
    width: 50%;
    margin: 20px;
}

.image-preview button {
    height: 30px;
    width:30px;
    font-size: 30px;
    background-color:transparent;
    color:red;
    align-self: flex-start;
    justify-content: flex-start;

    margin-top: 0;
    margin-bottom: auto; 
    align-self: flex-end;
    border:none;

}

.image-preview img {
    width: 50%;
    /* border: 10px solid black; */
    margin: 5px;
    align-items:center;
}

.media-preview button{
    height: 30px;
    width:30px;
    font-size: 30px;
    background-color:transparent;
    color:red;
    border:none;
    
}